<script>
	export let fieldConfig;
	export let label = true;
</script>

<div class="custom-block-component-group">
	{#if fieldConfig.label && label }
		<div class="custom-block-component-group__label">{ fieldConfig.label }</div>
	{/if}

	{#if fieldConfig.comment && fieldConfig.commentAbove }
		<div class="custom-block-component-group__comment">
			{#if fieldConfig.commentHtml}
				{@html fieldConfig.comment}
			{:else}
				{ fieldConfig.comment }
			{/if}
		</div>
	{/if}

	<slot></slot>

	{#if fieldConfig.comment && !fieldConfig.commentAbove }
		<div class="custom-block-component-group__comment">
			{#if fieldConfig.commentHtml}
				{@html fieldConfig.comment}
			{:else}
				{ fieldConfig.comment }
			{/if}
		</div>
	{/if}
</div>